openapi: 3.0.0
info:
  version: 1.0.0
  title: Bank
  description: "A bank API made as a part of the course CSE-446"

servers:
  - url: https://bank.cse446.ml/api/v1


paths:

  /auth/signup:
    post:
      tags:
        - auth
      description: Sign up for an account
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/Account'

      responses:
        '2XX':
          description: Successfully processed request
        '4XX':
          description: Client error
        '5XX':
          description: Server error



  /auth/login:
    post:
      tags:
        - auth
      description: Log into your account
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              required:
                - accountNumber
                - password
              properties:
                accountNumber:
                  type: string
                  default: d5511754-1bfa-49c8-8f41-f4de1544cd07
                password:
                  type: string
                  default: 12345678

      responses:
        '2XX':
          description: Successfully processed request
        '4XX':
          description: Client error
        '5XX':
          description: Server error


  /accounts:
    get:
      tags:
        - accounts
      description: Get all accounts
      responses:
        '2XX':
          description: Successfully processed request
        '4XX':
          description: Client error
        '5XX':
          description: Server error

      security:
        - bearerAuth: []




  /accounts/{accountNumber}:
    get:
      tags:
        - accounts
      description: Obtain information about an account from account number
      parameters:
        - name: accountNumber
          in: path
          required: true
          schema:
            type: string
            default: d5511754-1bfa-49c8-8f41-f4de1544cd07

      responses:
        '2XX':
          description: Successfully processed request
        '4XX':
          description: Client error
        '5XX':
          description: Server error

      security:
        - bearerAuth: []



  /transactions/{verificationId}:
    get:
      tags:
        - transactions
      description: Get transaction details from verification id
      parameters:
        - name: verificationId
          in: path
          required: true
          schema:
            type: string
            default: 4bf16e78-871c-4f98-ab5f-f012d9b4bf05

      responses:
        '2XX':
          description: Successfully processed request
        '4XX':
          description: Client error
        '5XX':
          description: Server error

      security:
        - bearerAuth: []

  /transactions:
    post:
      tags:
        - transactions
      description: Make a transaction
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/Transaction'

      responses:
        '2XX':
          description: Successfully processed request
        '4XX':
          description: Client error
        '5XX':
          description: Server error

      security:
        - bearerAuth: []

components:
  securitySchemes:
    bearerAuth:
      type: http
      scheme: bearer
      bearerFormat: JWT

  schemas:
    Account:
      type: object
      required:
        - name
        - email
        - phone
        - address
        - type
        - password
      properties:
        name:
          type: string
          default: test account
        email:
            type: string
            default: test@gmail.com
        phone:
            type: string
            default: 9876543210
        address:
            type: string
            default: house 34
        type:
            type: string
            enum:
              - "current"
              - "savings"
              - "fixed_deposit"
              - "recurring_deposit"
            default: savings
        password:
            type: string
            default: 12345678


    Transaction:
      type: object
      required:
        - accountNumber
        - amount
      properties:
        accountNumber:
          type: string
        amount:
            type: number
            default: 1000
        description:
            type: string
            default: Test transaction


  parameters:
    PageLimit:
      name: limit
      in: query
      description: Limits the number of items on a page
      schema:
        type: integer

    PageOffset:
      name: offset
      in: query
      description: Specifies the page number of the artists to be displayed
      schema:
        type: integer

  responses:
    400Error:
      description: Invalid request
      content:
        application/json:
          schema:
            type: object
            properties:
              message:
                type: string
