openapi: 3.0.0
info:
  version: 1.0.0
  title: Supplier
  description: "A supplier API made as a part of the course CSE-446"

servers:
  - url: https://suppl.cse446.ml/api/v1


paths:

  /supplies:
    post:
      tags:
        - supply
      description: Supply the requested products
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/Supply'

      responses:
        '2XX':
          description: Successfully processed request
        '4XX':
          description: Client error
        '5XX':
          description: Server error


components:
  schemas:
    Supply:
      type: object
      required:
        - transactionId
        - transactionAmount
        - shippingAddress
        - items
      properties:
        transactionId:
          type: string
          default: C82182476B
        transactionAmount:
            type: number
            default: 100
        shippingAddress:
            type: string
            default: house 34
        items:
            type: array
            items:
              type: object
              properties:
                productId:
                  type: string
                  default: 1
                amount:
                  type: number
                  default: 100.00
                price:
                  type: number
                  default: 100.00



  responses:
    400Error:
      description: Invalid request
      content:
        application/json:
          schema:
            type: object
            properties:
              message:
                type: string
