# session

SESSION_SECRET='yoursecretkey'


# database

DB='postgresql'
DB_HOST='localhost'
DB_PORT='5432'
DB_NAME='ecommerce'
DB_USER='youruser'
DB_PASSWORD='yourpassword'


# server

HOST='localhost'
PORT='4003'


# application

DEV_MODE='development'

TRANSAC_URL='http://localhost:4001/api/v1/transactions'
SUPPLY_URL='http://localhost:4001/api/v1/supplies'


# bank account numbers

CUSTOMER_ACCOUNT='some-uuid'
ECOMMERCE_ACCOUNT='some-uuid'
SUPPLIER_ACCOUNT='some-uuid'
